#           <h1 style="text-align:center;"><u>Day 1</u> </h1>

In [ ]:
# How to check the current version of python?

import sys
print(sys.version)

# print() function: It is a inbuilt function which prints the text.

In [ ]:
# how to print Hello world, I am learning python!?

print("Hello world, I am learning python!")

# Comments: It is used for documentation or when you want python to ignore set of lines in that case we use comments.

##   for single line- " Double quote" or ' Single quote' can be used.
##  for multiple lines- ''' Thriple (single inverted comma)quotes are used''' or cntrl+/

In [ ]:
print("This is double quoted, single line comment.")

print("Hi, this is single quoted. Single line comment!")

print('''Hey, I am first method of multiline comment.
Using triple-single inverted comma''')

# a=10
# b=20
# c=10+20
# print(c)

print("Above example is the second method of commenting out multiple line,by using cntrl+/")

In [ ]:
# draw a square.
print(" _____ ")
print("|     |")
print("|     |")
print("|_____| ")

# <u>Variable and Identifiers</u>.

 - Variables are used to store the value. Basically, variable is an entity of program which holds/stores the values.

 - An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.

# <u>Rules to create the variables</u>

- It should not starts from digits.
- It should not contain any special characters except (under_score)
- It should not contain the reserved keywords like if, elif etc..
- It can be alpha_numberic.
- python is case sensitive.

In [ ]:
x = 10 # assigning 10 into variable x.
x      # calling x variable.

In [ ]:
x=20 # assigning new value in same variable x.
x

In [ ]:
1book= 'python' # inavlid syntax coz varibale name can not starts from a digit.

In [ ]:
book_1='python'
print(book_1)

In [ ]:
_book="java"
_book

In [ ]:
@book="C++" # invalid syntax coz no special character is valid except underscore _.

# <u>Data types</u>

- Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data.
 ### <u>Types of Datatypes</u>
 
* integer
* float
* string
* boolean

In [ ]:
x = 500
print(x)
type(x) # type() function is used to check the type of datatype.

In [ ]:
x = 50.0256358
print(x)
type(x)

In [ ]:
x = "I love DC Comics!" #string contains characters which is nothing but alphabets and are always written inside a single or double quotes.
print(x)
type(x)

In [ ]:
x = True # In True and False value of boolean 'T' and 'F' should be capital.
print(x)
type(x)

In [ ]:
x = False
print(x)
type(x)

# <u> Typecasting</u>

### The process of converting one datatype into another datatype is known as typecasting.

###    <u>Typecasting are of two types:</u>

- Auto
- Forced

# <font color="Green"> Note: If you are typecasting float values with the boolean and integer, the result will always be in float.

In [ ]:
# Examples of auto typecasting.

expression = 10 + 10.5 + True 
print(expression)
type(expression)

In [ ]:
# Example of forced typecasting.

num = 10.5
print("float value:",num)
print("checking the type:", type(num))
print()
# changing float type to integer type.
num = int(num)
print("Changed to int:",num)
print("checking the type:", type(num))

In [ ]:
num = 10
print("integer value is:", num)
print("checking the type", type(num))
print()

# changing into float type.

num = float(num)
print("Value changed to float:", num)
print("Checking the type:",num)

# <font color="Green"> Note: typecasting of characters to interger, float type or boolean is not possible.

In [ ]:
str = "1"
print("This is numeric value as a string,", str)
print("Checking the type:", type(str))
print()

# changing to integer type.
str = int("1")
print("Changed to integer type:", str)
print("Checking the type:", type(str))
print()

# changing to float type.
str = float("1")
print("Changed to float type:", str)
print("Checking the type:", type(str))

# # changing to boolean type is not possible.

# str = bool("1")
# print("Changed to bool type:", str)
# print("Checking the type:", type(str))

In [ ]:
bool = True
print("Boolean value:", bool)
print("Checking the type:", type(bool))
print()

# changing to integer.

bool = int(True)
print("Changed to int:", bool)
print("Checking the type:", type(bool))
print()

# changing to float. 
bool = float(True)
print("Changed to float:", bool)
print("Checking the type:", type(bool))
print()

# changing to string is not possible. 
# bool = str(True)
# print("Changed to string:", bool)
# print("Checking the type:", type(bool))
# print()

# Different ways to print the statement.

In [ ]:
# First way to print any statement in single line.

movie = 'Marvel'
character_name = 'Doctor Strange'
box_office_collection = 661.365

print("I love,",movie, "movies. My favorite character is,", character_name, "and this movie made a box office collection of,"
      , box_office_collection,"Cr.")

In [ ]:
# second way to print the statement in multiple line. 
# \n - new line
# \t - tab space

movie = 'Marvel'
character_name = 'Doctor Strange'
box_office_collection = 661.365

print("I love,",movie,"movies.\nMy favorite character is,",character_name,".\nThis movie has made a box office collection of,",box_office_collection,"Cr.")

In [ ]:
# third way of print the statement.

movie = 'Marvel'
character_name = 'Doctor Strange'
box_office_collection = 661.365


print("I love {} movies. My favourite character is {}. \nThis movie has made a box office collection of {} cr.".format(movie,character_name,box_office_collection))

In [ ]:
# gender='female'
# name='bag'
# age=26

# print("My gender is=",gender,"I am=",name," and i am=",age,"years old!")

# print("My gender is {}, and I am {} years old, and people call me as {}".format(gender,age,name))

# print("My gender is {0}, \nname is {2} and \nI am just {1}.".format(gender,age,name))

# input()

- input functions are used to take the input values from users.
- type() of input function is always "string" so in this case we use typecasting to change the type of the datatype.

In [ ]:
# take input from users and print their name, age, gender and city.

name = input("Enter your good name:")
print("checking the type:",type(name))
print()
age = int(input("Enter your age:"))
print("checking the type:",type(age))
gender = input("Enter your gender:")
city = input("Enter your city:")


print(name,age,gender,city)

In [3]:
a=10.5
b=2
c = a//b
print(c)

5.0